.about-metis {
    background-color: #00090F;
    
    &__body {
        
        
        padding-top: 209px;
        padding-bottom: 100px;
        
        
    }

    &__rectangle {
        
        display: flex;
        width: 1168px;
        height: 436px;
        margin: 0 auto;
        background: linear-gradient(97.72deg, rgba(66, 86, 103, 0.14) 0%, rgba(32, 41, 50, 0.16) 100%);
        backdrop-filter: blur(40px);
        border-radius: 8px;
        
    }
}
.rectangle {

    &__img {
        
        margin-left: 170px;
        
    }
    &__ellipse-main{
        position: absolute;
        width: 224.76px;
        height: 273.17px;
        background: linear-gradient(173.66deg, rgba(0, 9, 15, 0) -3.84%, #09FBD3 23.34%, rgba(255, 255, 255, 0) 80.47%);
        filter: blur(120px);
        transform: rotate(-170.44deg);
        top: 54px;
        left: 148px;

    }

    &__cricket-1 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 84px;
        left: 348px;
    }

    &__cricket-2 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 77px;
        left: 301px;
        opacity: 0.26;
    }

    &__cricket-3 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 133px;
        left: 177px;
        
    }

    &__cricket-4 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 196px;
        left: 163px;
    }

    &__cricket-5 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 248px;
        left: 365px;
    }

    &__cricket-6 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 286px;
        left: 331px;
    }

    &__cricket-7 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 319px;
        left: 202px;
        opacity: 0.26;
    }

    &__img-item-1 {
        position: absolute;
        top: 52.07px;
        left: 150.99px;
    }
    &__img-item-2 {
        text-align: center;
        position: absolute;
        top: 94px;
        left: 156px;
    }
    &__img-item-3 {
        position: absolute;
        top: 280.19px;
        left: 287.57px;
    }
    &__img-item-4 {
        position: absolute;
        top: 318.02px;
        left: 199.08px;
    }
    &__img-item-5 {
        position: absolute;
        top: 352px;
        left: 107px;
    }

    &__text {
        font-family: 'Nunito-Regular';
        font-weight: 400;
        font-size: 20px;
        line-height: 33px;
        color: #D9F7F5;
        height: 290px;
        min-width: 497px;
       
        
        margin: 73px 75px 73px 425px;
        
    }
}




// Адаптация rectangle в разных размерах

@media (max-width:1400px) {
    .rectangle__text {
        margin: 73px 75px 73px 285px;
        font-size: 18px;
    }
    .about-metis__rectangle {
        width: 970px;
        
     }
}


@media (max-width:992px) {
.rectangle__text {
margin: 53px 75px 73px 155px;
font-size: 18px;
min-width: 407px;
}
.about-metis__rectangle {
width: 750px;     
}
.rectangle__ellipse-main{
    position: absolute;
    width: 224.76px;
    height: 273.17px;
    background: linear-gradient(173.66deg, rgba(0, 9, 15, 0) -3.84%, #09FBD3 23.34%, rgba(255, 255, 255, 0) 80.47%);
    filter: blur(120px);
    transform: rotate(-170.44deg);
    top: 54px;
    left: 68px;
}
.rectangle__cricket-1 {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #56E2D6;
    box-shadow: 0px 0px 6px #2ADACC;
    filter: blur(1px);
    top: 84px;
    left: 238px;
}
.rectangle__cricket-2 {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #56E2D6;
    box-shadow: 0px 0px 6px #2ADACC;
    filter: blur(1px);
    top: 77px;
    left: 197px;
    opacity: 0.26;
}
.rectangle__cricket-3 {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #56E2D6;
    box-shadow: 0px 0px 6px #2ADACC;
    filter: blur(1px);
    top: 133px;
    left: 67px;
    
}
.rectangle__cricket-4 {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #56E2D6;
    box-shadow: 0px 0px 6px #2ADACC;
    filter: blur(1px);
    top: 196px;
    left: 53px;
}
.rectangle__cricket-5 {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #56E2D6;
    box-shadow: 0px 0px 6px #2ADACC;
    filter: blur(1px);
    top: 248px;
    left: 255px;
}
.rectangle__cricket-6 {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #56E2D6;
    box-shadow: 0px 0px 6px #2ADACC;
    filter: blur(1px);
    top: 286px;
    left: 221px;
}
.rectangle__cricket-7 {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #56E2D6;
    box-shadow: 0px 0px 6px #2ADACC;
    filter: blur(1px);
    top: 319px;
    left: 92px;
    opacity: 0.26;
}
.rectangle__img-item-1 {
    position: absolute;
    top: 52.07px;
    left: 40.99px;
}
.rectangle__img-item-2 {
    text-align: center;
    position: absolute;
    top: 94px;
    left: 46px;
}
.rectangle__img-item-3 {
    position: absolute;
    top: 280.19px;
    left: 177.57px;
}
.rectangle__img-item-4 {
    position: absolute;
    top: 318.02px;
    left: 89.08px;
}
.rectangle__img-item-5 {
    position: absolute;
    top: 352px;
    left: -3px;
}
}













@media (max-width:762px) {
    .rectangle__text {
        margin: 503px 75px 73px 100px;
        font-size: 18px;
        min-width: 407px;
    }
    .rectangle__img {
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    .about-metis__rectangle {
        width: 600px;
        height: 900px; 
    }
    .rectangle__ellipse-main{
        position: absolute;
        width: 224.76px;
        height: 273.17px;
        background: linear-gradient(173.66deg, rgba(0, 9, 15, 0) -3.84%, #09FBD3 23.34%, rgba(255, 255, 255, 0) 80.47%);
        filter: blur(120px);
        transform: rotate(-170.44deg);
        top: 54px;
        left: 228px;
    }
    .rectangle__cricket-1 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 84px;
        left: 398px;
    }
    .rectangle__cricket-2 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 77px;
        left: 357px;
        opacity: 0.26;
    }
    .rectangle__cricket-3 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 133px;
        left: 227px;
        
    }
    .rectangle__cricket-4 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 196px;
        left: 213px;
    }
    .rectangle__cricket-5 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 248px;
        left: 415px;
    }
    .rectangle__cricket-6 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 286px;
        left: 381px;
    }
    .rectangle__cricket-7 {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #56E2D6;
        box-shadow: 0px 0px 6px #2ADACC;
        filter: blur(1px);
        top: 319px;
        left: 252px;
        opacity: 0.26;
    }
    .rectangle__img-item-1 {
        position: absolute;
        top: 52.07px;
        left: 200.99px;
    }
    .rectangle__img-item-2 {
        text-align: center;
        position: absolute;
        top: 94px;
        left: 206px;
    }
    .rectangle__img-item-3 {
        position: absolute;
        top: 280.19px;
        left: 337.57px;
    }
    .rectangle__img-item-4 {
        position: absolute;
        top: 318.02px;
        left: 249.08px;
    }
    .rectangle__img-item-5 {
        position: absolute;
        top: 352px;
        left: 157px;
    }
    }


@media (max-width:610px) {
    .about-metis__rectangle {
        width: 400px;
        height: 900px;
        
        
    }
    }
    
    @media (max-width:610px) {
        .rectangle__text {
            margin: 453px 75px 73px 60px;
            font-size: 18px;
            min-width: 307px;
        }
    }
    




    @media (max-width:610px) {
        .rectangle__ellipse-main{
            position: absolute;
            width: 224.76px;
            height: 273.17px;
            background: linear-gradient(173.66deg, rgba(0, 9, 15, 0) -3.84%, #09FBD3 23.34%, rgba(255, 255, 255, 0) 80.47%);
            filter: blur(120px);
            transform: rotate(-170.44deg);
            top: 54px;
            left: 128px;
        }
        .rectangle__cricket-1 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 84px;
            left: 298px;
        }
        .rectangle__cricket-2 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 77px;
            left: 257px;
            opacity: 0.26;
        }
        .rectangle__cricket-3 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 133px;
            left: 127px;
            
        }
        .rectangle__cricket-4 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 196px;
            left: 113px;
        }
        .rectangle__cricket-5 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 248px;
            left: 315px;
        }
        .rectangle__cricket-6 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 286px;
            left: 281px;
        }
        .rectangle__cricket-7 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 319px;
            left: 152px;
            opacity: 0.26;
        }
        .rectangle__img-item-1 {
            position: absolute;
            top: 52.07px;
            left: 100.99px;
        }
        .rectangle__img-item-2 {
            text-align: center;
            position: absolute;
            top: 94px;
            left: 106px;
        }
        .rectangle__img-item-3 {
            position: absolute;
            top: 280.19px;
            left: 237.57px;
        }
        .rectangle__img-item-4 {
            position: absolute;
            top: 318.02px;
            left: 149.08px;
        }
        .rectangle__img-item-5 {
            position: absolute;
            top: 352px;
            left: 57px;
        }
    }



            
@media (max-width:405px) {
    .about-metis__rectangle {
        width: 280px;
        height: 900px;
        
        
    }
    
    
   
        .rectangle__text {
            margin: 453px 75px 73px 20px;
            font-size: 15px;
            min-width: 257px;
        }
    
    
    
        .rectangle__ellipse-main{
            position: absolute;
            width: 224.76px;
            height: 273.17px;
            background: linear-gradient(173.66deg, rgba(0, 9, 15, 0) -3.84%, #09FBD3 23.34%, rgba(255, 255, 255, 0) 80.47%);
            filter: blur(120px);
            transform: rotate(-170.44deg);
            top: 54px;
            left: 56px;
        }
        
        
        .rectangle__cricket-1 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 84px;
            left: 226px;
        }
        
        
        .rectangle__cricket-2 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 77px;
            left: 185px;
            opacity: 0.26;
        }
        
        
        .rectangle__cricket-3 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 133px;
            left: 55px;
            
        }
        
        
        .rectangle__cricket-4 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 196px;
            left: 41px;
        }
        
        
        .rectangle__cricket-5 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 248px;
            left: 243px;
        }
        
        
        .rectangle__cricket-6 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 286px;
            left: 209px;
        }
        
        
        .rectangle__cricket-7 {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #56E2D6;
            box-shadow: 0px 0px 6px #2ADACC;
            filter: blur(1px);
            top: 319px;
            left: 80px;
            opacity: 0.26;
        }
        
        
        .rectangle__img-item-1 {
            position: absolute;
            top: 52.07px;
            left: 38.99px;
        }
        
        
        .rectangle__img-item-2 {
            text-align: center;
            position: absolute;
            top: 94px;
            left: 34px;
        }
        
        
        .rectangle__img-item-3 {
            position: absolute;
            top: 280.19px;
            left: 165.57px;
        }
        
        
        .rectangle__img-item-4 {
            position: absolute;
            top: 318.02px;
            left: 77.08px;
        }
        
        
        .rectangle__img-item-5 {
            position: absolute;
            top: 352px;
            left: -15px;
        }
        }

