.belief {
    background-color: #00090F;
    color: white;

    &__body {
    }

    &__rectangle {
        padding-bottom: 300px;
    }

    &__rowspan {
        display: flex;
        justify-content: space-around;
    }
    
    &__collumn-left {
    }

    &__collumn-right {
    }
}

.belief {

    &__title {
        padding-bottom: 30px;
        max-width: 565px;
       
    }

    &__mini-title {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #2ADACC;
        margin-top: 45px;
    }

    &__text {
        font-family: 'Nunito-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 164.52%;
        letter-spacing: 0.1em;
        color: #D9F7F5;
        max-width: 677px;
        margin-top: 25px;
    }
}
.belief {

    &__img {
      
    }
    &__mini-title-right {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #2ADACC;
        margin-top: 0px;
    }
    &__text-right {
        font-family: 'Nunito-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 164.52%;
        letter-spacing: 0.1em;
        color: #D9F7F5;
        max-width: 697px;
        margin-top: 25px;
    }
}
.img {


    &__icon {
   
    }
 
}
@media (max-width: 1400px) {
    .belief__mini-title-right {
        margin-top: 59px;
    }
   
}
@media (max-width: 992px) {
    .belief__mini-title-right {
        margin-top: 0px;
        padding-left: 70px;
    }
    .belief__text-right {
        padding-left: 70px;
    }
   
}
@media (max-width: 800px) {
   .belief__rowspan {
    flex-wrap: wrap;
   }
   .belief__mini-title-right {
    margin-top: 0px;
    padding-left: 0px;
}
.belief__text-right {
    padding-left: 0px;
    }  
}
@media (max-width: 740px) {
    .belief__rowspan {
        
        text-align: center;
       }
       .belief__title {
        margin: 0 auto;
       }
 }
 @media (max-width: 455px) {
        .img-belief__icon {
            width: 90%;
        }
 }