.belief {
    background: #00090F;
    padding-bottom: 20px;
    &__body {
    }

    &__rectangle {
        padding-bottom: 300px;
    }

    &__rowspan {
        display: flex;
        justify-content: space-around;
    }

    &__collumn-left {
    }

    &__collumn-right {
    }
}

.collumn-left {

    &__title-belief {
        padding-bottom: 30px;
        max-width: 565px;
       
    }

    &__mini-title-belief {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #2ADACC;
        margin-top: 45px;
    }

    &__text-belief {
        font-family: 'Nunito-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 164.52%;
        letter-spacing: 0.1em;
        color: #D9F7F5;
        max-width: 677px;
        margin-top: 25px;
    }
}
.collumn-right {

    &__img-belief {
      & img {
        padding: 35px;
        overflow: hidden;
      }
      
    }
    &__mini-title-belief {
        font-family: 'Poppins-Bold';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #2ADACC;
        margin-top: 0px;
    }
    &__text-belief {
        font-family: 'Nunito-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 164.52%;
        letter-spacing: 0.1em;
        color: #D9F7F5;
        max-width: 697px;
        margin-top: 25px;
    }
}
.img-belief {


    &__icon {
   
    }
 
}
@media (max-width: 1400px) {
    .collumn-right__mini-title-belief {
        margin-top: 59px;
    }
   
}
@media (max-width: 992px) {
    .collumn-right__mini-title-belief {
        margin-top: 0px;
        padding-left: 70px;
    }
    .collumn-right__text-belief {
        padding-left: 70px;
    }
   
}
@media (max-width: 800px) {
   .belief__rowspan {
    flex-wrap: wrap;
   }
   .collumn-right__mini-title-belief {
    margin-top: 0px;
    padding-left: 0px;
}
.collumn-right__text-belief {
    padding-left: 0px;
    }  
}
@media (max-width: 740px) {
    .belief__rowspan {
        
        text-align: center;
       }
       .collumn-left__title-belief {
        margin: 0 auto;
       }
 }
 @media (max-width: 455px) {
        .img-belief__icon {
            width: 90%;
        }
 }