
.footer {
    
    background-color: #000305;
    
    
    &__body {
        
         
    }
    &__top {
        display: flex;
        padding-top: 85px;
        height: 440px;
        justify-content: space-around;
        
        
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        
    }
}
.footer-top {

    &__block-left {
    }
    
    &__logo {
        padding-bottom: 30px;
    }

    &__about-metis {
        font-family: 'Nunito-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 135.5%;
        color: #D9F7F5;
        width: 274px;
        height: 86px;
    }

    &__block-right {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        width: 100%;
        
    }

    &__headline {
        font-family: 'Nunito-Bold';
        font-weight: 700;
        font-size: 16px;
        line-height: 217%;
        text-transform: uppercase;
        color: #2ADACC;
        
    }

    &__list {
        font-family: 'Nunito-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 217%;
        text-transform: capitalize;
        color: #D9F7F5;
        padding-top: 20px;
        :link {
            color: #D9F7F5;
        }
        :visited {
            color: #D9F7F5;
        }
        :active {
            color: #2ADACC;
        }
        :hover {
            color: #2ADACC;
        }
    }
    
    &__list-1 {
    }

    &__list-2 {
    }

    &__list-3 {
    }
}

.footer-bottom {


    &__text {
        font-family: 'Nunito-Regular';
        color: #D9F7F5;
    }

    &__icon {
        & a{
            padding: 0 10px 0px 10px;
            
        }
        
        
        text-align: center;

        
    }
}
.caps {
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .footer-top__block-right {
        
        margin-left: 50px;
        flex-wrap: wrap;
        
        
    }
}

@media (max-width: 790px) {
    .footer__top {
        flex-wrap: wrap;
        
        padding-bottom: 500px;
        padding-top: 10px;
        
    }
    
    .footer-top__block-right {
        margin: 0 auto;
        margin-top: 50px;
        
        
    }
}

@media (max-width: 520px) {
    .footer__top {
        max-width: 300px; 
        padding-bottom: 800px;
        padding-top: 10px;
        margin: 0 auto;
    }
    .footer-top__list {
        padding-bottom: 40px;
    }
}
